@background-color-sender: #0084ff;
@background-color-recipient: #f1f0f0;
@color-white: #fff;
@color-gray: #999999;
@color-black: #000;
@border-radius-large: 1.3em;
@border-radius-small: 6px;

body {
    padding: 0 40px;
}

footer {
    padding-top: 30px;
    padding-bottom: 24px;
}

header {
    padding-top: 36px;
    padding-bottom: 60px;
}

body {
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    position: relative;
    box-sizing: border-box;

}

.timestamp {
    color:@color-gray;
    font-size: 18px;
    margin: 15px 0;
    text-align: center;
    &.new-day {
        padding: 40px 0;
    }
}

.messages {
    //-webkit-column-count: 2; /* Chrome, Safari, Opera */
    //  -moz-column-count: 2; /* Firefox */
    //  column-count: 2;
}
.message {
    position: relative;
    width: 100%;
    margin-bottom: 3px;
    text-align: left;
    &.michaela-hann {
        .profile-image {
            left: 0;
        }
        .content-wrapper {
            background-color: @background-color-sender;
            color: @color-white;
        }
        .content-wrapper,
        .photo,
        .share-wrapper {
            float: left;
            margin-left: 54px;
            border-top-right-radius: @border-radius-large;;
            border-bottom-right-radius: @border-radius-large;;
            .og-image {
                border-top-right-radius: @border-radius-large;;
            }

        }
    }

    &.kay-bader {
        .profile-image {
            right: 0;
            //right: -82pt;
        }
        .content-wrapper {
        }
        .content-wrapper,
        .photo,
        .share-wrapper {
            float: right;
            margin-right: 54px;
            color: @color-black;
            border-top-left-radius: @border-radius-large;;
            border-bottom-left-radius: @border-radius-large;;
            .og-image {
                border-top-left-radius: @border-radius-large;;
            }

        }
    }
    &.first-message {
        .content-wrapper,
        .photo {
            border-top-left-radius: @border-radius-large;;
            border-top-right-radius: @border-radius-large;;
        }
    }
    &.subsequent-message {
    }
    &.last-message {
        margin-bottom: 15px;
        .photo,
        .share-wrapper {
            border-bottom-left-radius: @border-radius-large;;
            border-bottom-right-radius: @border-radius-large;;
        }
        .content-wrapper {
            border-bottom-left-radius: @border-radius-large;;
            border-bottom-right-radius: @border-radius-large;;
            &.share-wrapper-follows {
                border-bottom-left-radius: @border-radius-small;
                border-bottom-right-radius: @border-radius-small;
            }
        }
    }
    .profile-image {
        position: absolute;
        bottom: 0;
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }
    .content-wrapper,
    .photo {
        border-radius: @border-radius-small
    }
    .share-wrapper {
        max-width: 42%;
        border-radius: @border-radius-small;
        border: 1pt solid @color-gray;
        .og-image {
            width: 100%;
            border-radius: @border-radius-small;
        }
        .share-info-wrapper {
            padding: 0 12pt;
            .og-title {
                color: @color-gray;
                font-size: 22px;
                font-weight: 600;
                margin-top: 9px;
                overflow: hidden;
                max-height: 54px;
            }
            .og-description {
                color: @color-black;
                font-size: 22px;
                font-weight: normal;
                margin-bottom: 9px;
                margin-top: 9px;
                overflow: hidden;
                max-height: 54px;
            }
            .host {
                color: @color-gray;
                font-size: 18px;
                font-weight: normal;
                margin-bottom: 9px;
                margin-top: 9px;
                overflow: hidden;
            }
        }
    }
    .content-wrapper {
        max-width: 70%;
        .content-text {
            //max-width: none;
            //float: left;
        }
        box-sizing: content-box;
        padding: 9px 18px;
        font-size: 21px;
        background-color: @background-color-recipient;
        &.only-emoji {
            margin-top: 7.5px;
            padding: 0;
            background: none;
            .emoji {
                width: 48px;
                height: 48px;
                vertical-align: initial;
            }
            svg.emoji {
                width: 54px;
                height: 54px;
            }
        }
        .emoji {
            margin: 0 1px 0 1px;
            width: 24px;
            height: 24px;
            vertical-align: middle
        }
        &.share-wrapper-follows {
            margin-bottom: 3px;
        }
        .content {
            clear: left;
            float: left;
            word-wrap: break-word;
        }
    }
    .photo {
        max-height: 450px;
        max-width: 55%;
    }
}
img {
    z-index: 99999 !important;
    position: relative;
    opacity: 1 !important;
}

.chapter {
    padding-top: 40px;
    padding-bottom: 40px;
    h2 {
        text-align: center;
        font-size: 24px;
    }
}

.part {
    padding-top: 380px;
    h1 {
        text-align: center;
        font-size: 36px;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.keep-together {
    position: relative;
    page-break-inside: avoid;
}

.break-before {
    page-break-before: always;
}

.break-after {
    page-break-after: always;
}

footer {
    font-size: 12px;
    color: @color-gray;
    text-align: center;
    //padding-top: 10px;
    //padding-bottom: 12px;
}

header {
    font-size: 12px;
    color: @color-gray;
    text-align: right;
    //    padding-top: 24px;
//    padding-bottom: 20px;
    .header-content {
        .section {
        }
    }
}

.titelei {
    .schmutztitel, .haupttitel {
        text-align: center;
        padding-top: 200px;
    }
    .widmung {
        text-align: center;
        padding-top: 436px;
    }
    .haupttitel {
        h1 {
            margin-bottom: 0px;
            font-size: 100px;
        }
        h2 {
            margin-top: 0px;
            font-size: 24px;
        }
    }
}