body {
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  position: relative;
  box-sizing: border-box;
}
.timestamp {
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  margin: 15px 0;
  text-align: center;
}
.timestamp.new-day {
  padding: 40px 0;
}
.message {
  position: relative;
  width: 100%;
  margin-bottom: 3px;
  text-align: left;
}
.message.michaela-hann .profile-image {
  left: 0;
}
.message.michaela-hann .content-wrapper {
  background-color: #0084ff;
  color: #fff;
}
.message.michaela-hann .content-wrapper,
.message.michaela-hann .photo,
.message.michaela-hann .share-wrapper {
  float: left;
  margin-left: 54px;
  border-top-right-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
}
.message.michaela-hann .content-wrapper .og-image,
.message.michaela-hann .photo .og-image,
.message.michaela-hann .share-wrapper .og-image {
  border-top-right-radius: 1.3em;
}
.message.kay-bader .profile-image {
  right: 0;
}
.message.kay-bader .content-wrapper,
.message.kay-bader .photo,
.message.kay-bader .share-wrapper {
  float: right;
  margin-right: 54px;
  color: #000;
  border-top-left-radius: 1.3em;
  border-bottom-left-radius: 1.3em;
}
.message.kay-bader .content-wrapper .og-image,
.message.kay-bader .photo .og-image,
.message.kay-bader .share-wrapper .og-image {
  border-top-left-radius: 1.3em;
}
.message.first-message .content-wrapper,
.message.first-message .photo {
  border-top-left-radius: 1.3em;
  border-top-right-radius: 1.3em;
}
.message.last-message {
  margin-bottom: 15px;
}
.message.last-message .photo,
.message.last-message .share-wrapper {
  border-bottom-left-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
}
.message.last-message .content-wrapper {
  border-bottom-left-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
}
.message.last-message .content-wrapper.share-wrapper-follows {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.message .profile-image {
  position: absolute;
  bottom: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.message .content-wrapper,
.message .photo {
  border-radius: 6px;
}
.message .share-wrapper {
  max-width: 55%;
  border-radius: 6px;
  border: 1pt solid #999999;
}
.message .share-wrapper .og-image {
  max-width: 100%;
  max-height: 550px;
  border-radius: 6px;
}
.message .share-wrapper .share-info-wrapper {
  padding: 0 12pt;
}
.message .share-wrapper .share-info-wrapper .og-title {
  color: #999999;
  font-size: 22px;
  font-weight: 600;
  margin-top: 9px;
}
.message .share-wrapper .share-info-wrapper .og-description {
  color: #000;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 9px;
  margin-top: 9px;
}
.message .share-wrapper .share-info-wrapper .host {
  color: #999999;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 9px;
  margin-top: 9px;
}
.message .content-wrapper {
  max-width: 70%;
  box-sizing: content-box;
  padding: 9px 18px;
  font-size: 21px;
  background-color: #f1f0f0;
}
.message .content-wrapper.only-emoji {
  margin-top: 7.5px;
  background-color: transparent;
  padding: 0;
}
.message .content-wrapper.only-emoji .emoji {
  width: 48px;
  height: 48px;
  vertical-align: initial;
}
.message .content-wrapper.only-emoji svg.emoji {
  width: 54px;
  height: 54px;
}
.message .content-wrapper .emoji {
  margin: 0 1px 0 1px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.message .content-wrapper.share-wrapper-follows {
  margin-bottom: 3px;
}
.message .content-wrapper .content {
  clear: left;
  float: left;
  word-wrap: break-word;
}
.message .photo {
  max-height: 450px;
  max-width: 55%;
}
.message img {
  z-index: 100;
  position: relative;
}
.chapter {
  padding-top: 80px;
  padding-bottom: 60px;
}
.chapter h2 {
  text-align: center;
  font-size: 24px;
}
.part {
  padding-top: 380px;
}
.part h1 {
  text-align: center;
  font-size: 36px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.keep-together {
  position: relative;
  page-break-inside: avoid;
}
.break-before {
  page-break-before: always;
}
.break-after {
  page-break-after: always;
}
footer {
  font-size: 12px;
  color: #999999;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
header {
  font-size: 12px;
  color: #999999;
  text-align: right;
  padding: 20px 0;
}
.titelei .schmutztitel {
  text-align: center;
}
.titelei .haupttitel {
  text-align: center;
}
