{% extends 'base.html.twig' %}


{% block body %}
    <div class="titelei">
        <div class="page schmutztitel">
            <h1>Timelovers</h1>
        </div>

        <div class="break-after"></div>

        <div class="page">&nbsp;</div>

        <div class="break-before"></div>

        <div class="page haupttitel">
            <h1>Timelovers</h1>
            <h2>Band 2: 1. Februar - 1. März</h2>
            <small>Michaela Hann & Kay Bader</small>
        </div>

        <div class="break-after"></div>

        <div class="page">&nbsp;</div>

        <div class="break-before"></div>

        <div class="page widmung">
            <small>Für die beste Brieffreundin der Welt</small>
        </div>

        <div class="break-after"></div>
    </div>
{% endblock %}
