{% extends 'base.html.twig' %}


{% block body %}
    <div class="titelei">
        <div class="page schmutztitel">
            <h1>Timelovers</h1>
        </div>

        <div class="break-after"></div>

        <div class="break-after"></div>

        <div class="page haupttitel">
            <h1>Timelovers</h1>
            <h2>Band 1: 29. Dezember - 1. März</h2>
            <small>Michaela Hann und Kay Bader</small>
        </div>

        <div class="break-after"></div>
    </div>
{% endblock %}
